.footer-div {
    background-color: white;
    margin: 0;
    padding: 2% 5%;

    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}

.footer-brand-div {
    color: #495057;
}

.footer-brand-div h1 {
    color: #0466c8;
    margin: 0.3% 0;
}

.footer-explore-div li {
    list-style: none;
}

.footer-explore-div a {
    text-decoration: none;
}

.footer-explore-info-div {
    text-align: right;
    color: #495057;
}

.footer-explore-img-div {
    padding: 3%;
    text-align: right;
}

#world-map {
    width: 50%;
    height: auto;
}

.copyrights {
    margin-top: 2%;
}

.copyrights p {
    margin: 0 !important;
    text-align: center;
}

.fab {
    font-size: 1.4rem;
    margin: 1% 3%;
}

/* ====================== for tablet version user interface ================= */
@media (min-width :768px) and (max-width: 992px) {

    .copyrights p {
        font-size: 1rem;
    }

}


/* ====================== for tablet version user interface ================= */
@media (min-width :320px) and (max-width: 425px) {

    .footer-explore-img-div {
        padding: 5%;
        text-align: left;
    }

    .footer-explore-info-div {
        text-align: left;
        color: #495057;
    }

    #world-map {
        width: 80%;
        height: auto;
    }

}
