.home-div {
    padding: 7% 13% 2% 13% !important;
}

.home-img-div {
    padding: 4%;
}

#home-img {
    width: 100%;
    height: auto;
}

.home-info-div {
    text-align: left;
    padding: 10% 3%;
}

.home-info-div h1 {
    font-size: 2rem;
}

.home-info-div h4 {
    font-size: 1.2rem;
    color: #495057;

    margin-top: 5%;
}

.learn-btn {
    display: block;
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;

    background-color: #0466c8 !important;

    margin: 8% 2%;
}

/* ====================== for tablet version user interface ================= */
@media (min-width :768px) and (max-width: 992px) {

    .home-div {
        padding: 7% 9% 2% 9% !important;
    }


    .home-info-div h1 {
        font-size: 1.7rem;
    }
    
    .home-info-div h4 {
        font-size: 1rem;
        color: #495057;
    
        margin-top: 5%;
    }
    
    .learn-btn {
        display: block;
        width: 50%;
        font-size: 1rem;
        font-weight: bold;
    
        background-color: #0466c8 !important;
    
        margin: 8% 2%;
    }
}

/* ====================== for mobile version user interface ================= */
@media (min-width :320px) and (max-width: 425px) {

    .home-div {
        padding: 12% 6% 2% 6% !important;
    }

    .home-img-div {
        padding: 10%;
    }

    .home-info-div h1 {
        font-size: 1.5rem;
    }

    .home-info-div h4 {
        font-size: .9rem;
        color: #495057;
    
        margin-top: 5%;
    }

    .learn-btn {
        display: block;
        width: 60%;
        font-size: 1rem;
        font-weight: bold;
    
        background-color: #0466c8 !important;
    
        margin: 8% 2% 0% 2%;
    }

}