.price-modal-div {
	position: fixed;
	top: 22vh;
	left: 25vw;
	width: 50%;
	height: auto;

	margin: 0 auto;

	background-color: white;
	border-radius: 10px;

	padding: 2% 7%;
	z-index: 1310;

	transition: 0.3s ease-in-out;
}

.price-modal-div select {
	width: 100%;
	margin-top: 3%;
}

#price-modal-div-hire-btn {
	width: 100%;
	font-size: 1.2rem;
	font-weight: bold;
	color: white;

	background-color: #0466c8;
}

.cross {
	position: absolute;
	top: 10;
	right: 10;

	padding: 0.2% 0.2%;
	background-color: white;
	border: none;
	border-radius: 5px;

	margin: 1% 1% 0 0;

	font-size: 1.2rem;
	font-weight: lighter;
	color: #495057;

	transition: 0.15s ease-in-out;
}

.cross:hover {
	background-color: rgba(211, 211, 211, 0.938);
}

/* for mobile version */
@media (min-width: 320px) and (max-width: 425px) {
	.price-modal-div {
		width: 80%;
		left: 10vw;

		padding: 10% 7%;
	}
}
