.nav-modal-div {
    position: fixed;
    top: 22vh;
    left: 25vw;
    width: 50%;
    height: auto;

    margin: 0 auto;

    background-color: white;
    border-radius: 10px;

    padding: 2% 7%;
    z-index: 1310;

    transition: 0.3s ease-in-out;
}

.nav-modal-div select {
    width: 100%;
}

.nav-modal-div ul {
    display: block;
    align-items: center;

    width: 100%;
    padding: 0;
}

.nav-modal-div ul li {
    display: block;
    width: 100%;

    text-align: center;
    padding: 1.7% 0;
}

.nav-modal-div ul li a {
    font-size: 1.2rem;
    font-weight: 400;

    color: #495057;
}

#nav-modal-div-hire-btn {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;

    background-color: #0466c8;
}

.cross {
    position: absolute;
    top: 10;
    right: 10;

    padding: 0.4% 0.4%;
    background-color: white;
    border: none;

    margin: 1% 1% 0 0;

    font-size: 1.2rem;
    font-weight: lighter;
    color: #495057;

    transition: 0.15s ease-in-out;
}

.cross:hover {
    background-color: rgba(211, 211, 211, 0.938);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    z-index: 1305;
    background: rgba(0, 0, 0, 0.80);
}


/* for mobile version  */
@media (min-width: 320px) and (max-width: 425px) {

    .nav-modal-div {
        width: 70%;
        left: 15vw;

        padding: 7% 8%;
    }

    .nav-modal-div ul li a {
        font-size: 1rem;
    }

    .nav-modal-div ul li {
        padding: 4% 0;
    }

    .cross {
        padding: 2%;
        margin: 4% 4% 0 0;
    }
    
}